<%= form_for :meta_tag_defaults, url: kubik_meta_tag_defaults_path, method: :put, class: 'kubik-form' do |f| %>
  <fieldset class="kubik-form-fieldset">
    <legend><%= t('kubik_metatagable.defaults_form.legend') %></legend>

    <% if @meta_tag_defaults&.errors&.any? %>
      <ul class="kubik-form-errors">
        <% @meta_tag_defaults.errors.full_messages.each do |errors| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <% Kubik::MetaTagDefaults.meta_tag.each do |tag, value| %>
      <div class="kubik-form-input-group">
        <%= f.label tag, tag.humanize.titleize, class: 'kubik-form-input-label' %>
        <%= f.text_field tag, value: value, class: 'kubik-form-input kubik-form-input--text-field' %>
      </div>
    <% end %>
    <div class="kubik-form-actions">
      <%= f.submit t('kubik_metatagable.defaults_form.submit'), class: 'kubik-form-submit' %>
      <%= link_to t('kubik_metatagable.defaults_form.cancel'), edit_kubik_meta_tag_defaults_path, class: 'kubik-form-cancel kubik-link' %>
    </div>
    <p class="kubik-form-last-updated">
      <%= t('kubik_metatagable.defaults_last_updated', last_updated: Kubik::MetaTagDefaults.find_by(var: "meta_tag").updated_at) %>
    </p>
  </fieldset>
<% end %>
