<title><%= kubik_page_title %></title>
<meta name="description" content='<%= kubik_meta_data(:meta_description) %>'>
<!-- Open Graph data for Facebook -->
<meta content='<%= kubik_meta_data(:og_type) %>' property='og:type'>
<meta content='<%= kubik_meta_data(:site_title) %>' property='og:site_name'>
<meta content='<%= kubik_meta_data(:og_title) %>' property='og:title'>
<meta content='<%= kubik_meta_data(:og_description) %>' property='og:description'>
<meta content='<%= kubik_meta_data(:og_url) %>' property='og:url'>
<meta content='<%= kubik_meta_data(:og_image) %>' property='og:image'>
<!-- Twitter Card data -->
<meta content='summary_large_image' name='twitter:card'>
<meta content='<%= kubik_meta_data(:twitter_title) %>' name='twitter:title'>
<meta content='<%= kubik_meta_data(:twitter_description) %>' name='twitter:description'>
<meta content='<%= kubik_meta_data(:twitter_image) %>' name='twitter:image'>
